        body {
            background-color: #ccc;
        }
        #box {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-sizing: border-box;
            overflow: hidden;
        }
        #scroll-box {
            background: #19bbff;
        }
        #scroll-box p {
            margin: 0;
            height: 40px;
            line-height: 40px;
            text-indent: 20px;
            color: #fff;
            white-space: nowrap;
        }