<!DOCTYPE html>
<html lang="Zh-cn">
<!-- 引入头部文件 -->
@@include("../../components/header/head.html", {
  "title": "我是main页面"
}) 
<!-- 引入动态计算html font-size script  -->
@@include("../../components/flexible.html")  
<style></style>  

<body>
	<div class="wrap">
		<div class="box">
			我是dffmain容器
			<div class="item">123</div>
			<div class="item">123</div>
			<div class="item">123</div>
		</div>
		
	</div>
	<div class="content">
		我是内容
	</div>
	<div class="c-box">
		<div class="c-box-item-l">1</div>
		<div class="c-box-item-l">2</div>
	</div>
	  <!-- 引入页面底部内容 -->
 @@include("../../components/pop/pop-c.html"})	  
 @@include("../../components/footer/footer.html"})
 <script type="text/javascript" src="/static/js/jquery3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/main.min.js"></script>
</body>
</html>